.quizContainer {
    max-width: 625px;
    max-height: 450px;
    padding: 25px 30px;
    border-radius: 10px;
    background-color: #fff;
    filter: drop-shadow(0 0 1rem rgba(0, 0, 0, 0.2));
}

.quizHeader {
    display: flex;
    justify-content: center;
}

.quizContent {
    margin-top: 20px;
}